<%= tag.div(flash[:alert], class: "flash-message flash-alert") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "flash-message flash-notice") if flash[:notice] %>

  <div class="LoginContainer">
  <h1>Login</h1>

  <%= form_with url: session_path do |form| %>
    <div class = "MailAndPass">
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
    </div>
    <%= form.submit "Sign in" %>
  <% end %>
  <br>
  
  <%= button_to "Register", registration_index_path, method: :Create %><br>
  <div class = "Forgot">
  </div>
  <%= link_to "Forgot password?", new_password_path %>
  </div>

