

<% content_for :title, "Rooms" %>

<div id="chatapp" >
  <div id="rooms-container">
    <div class="rooms-header">
      <p>Rooms</p>
    </div>
    <div class = "CreateRoom">
    <div id="room-form">
      <%= render partial: 'form', locals: {room: Room.new(name:"Room #{Room.count + 1}")} %>
    </div> 
    </div>
    <div id="room-list">
      <% @rooms.each do |room| %>
        <%= render room %>
      <% end %>
    </div>
    <div id="logout-button">
      <%= button_to "Logout", session_path, method: :delete, class: "logout-btn" %>
    </div>
  </div>
  
  <div id="messages-container">
    
    
    <%= turbo_frame_tag 'room-messages' do %>
      <div id="message-list">
        <% @messages.each do |message| %>
          <%= render message %>
        <% end %>
      </div>

      <div id="message-form">
        <% if @room %>
        <%= render partial: 'messages/form', locals: {message: Message.new(room: @room)} %>
        <%= turbo_stream_from @room %>
      <% end %>
      </div>
      
    <% end %>
     </div>
  </div>
</div>
